.video__data {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  .video__title {
    font-size: 26px;
    margin-bottom: 5px;
  }
  .video__createdAt {
    font-size: 13px;
  }
  .video__owner {
    margin-bottom: 5px;
    font-size: 14px;
    a {
      color: cornflowerblue;
      text-decoration: underline;
    }
  }
  a {
    font-size: 12px;
  }
}

.video__comments-area {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 25%;
  align-items: center;
}

.video__comment-form {
  text-align: center;
  textarea {
    padding-top: 15px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
  }
  button {
    margin-top: 20px;
    cursor: pointer;
  }
}

.video__comments {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
  margin-top: 20px;
  .video__comment {
    padding: 10px 20px;
    border-radius: 9999px;
    background-color: white;
    color: black;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
  }
}
