doctype html
html(lang="ko")
    head
        title #{pageTitle} | #{siteName}
        <script src="https://kit.fontawesome.com/0c34bb9f7c.js" crossorigin="anonymous"></script>
        link(rel="stylesheet", href="/static/css/styles.css")
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    body 
        include partials/header
        main
            block content
        include partials/footer
    block scripts